<div class="generator">

     <div class="gen-header">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
               <path fill="none" d="M0 0h24v24H0z" />
               <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" /></svg>

          <!-- <span>Command</span> -->

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
               <path fill="none" d="M0 0h24v24H0z" />
               <path
                    d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
          </svg>
     </div>

     <div class="gen-body">

          <app-terminal></app-terminal>

          <div class="form-control">
               <div>
                    <label for="">
                         <h5>Name</h5>
                         <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </label>
                    <input type="text" name="type" placeholder="E.g myApp, my-app">
               </div>
          </div>

          <div class="form-control">
               <input type="radio" name="command" value="new" id="new">
               <label for="new">
                    <h5>New</h5>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit illum ab.
                         Voluptas
                         quia eos dolor</p>
               </label>
          </div>

          <div class="form-control">
               <input type="radio" name="command" value="new" id="generate">
               <label for="generate">
                    <h5>Generate</h5>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit illum ab.
                         Voluptas
                         quia eos dolor</p>
               </label>
          </div>

          <div class="form-control">
               <input type="checkbox" name="type" value="asset" id="asset">
               <label for="asset">
                    <h5>--no-asset</h5>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit illum ab.
                         Voluptas
                         quia eos dolor</p>
               </label>
          </div>

          <div class="form-control">
               <input type="checkbox" name="type" value="controller" id="controller">
               <label for="controller">
                    <h5>--no-controller</h5>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit illum ab.
                         Voluptas
                         quia eos dolor</p>
               </label>
          </div>

     </div>


     <div class="gen-footer">
          <button></button>

          <button class="but but-gen">
               <span>Generate command</span>

               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                         d="M16.95 8.464l1.414-1.414 4.95 4.95-4.95 4.95-1.414-1.414L20.485 12 16.95 8.464zm-9.9 0L3.515 12l3.535 3.536-1.414 1.414L.686 12l4.95-4.95L7.05 8.464z" />
               </svg>
          </button>
     </div>

</div>