.generator {
  position: relative;
  height: 400px;
  width: 100%;
  max-width: 100%;
  background: #d2d0cd;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: -100px;
  box-shadow: 0px 2px 5px rgba(24, 16, 0, 0.1);
  overflow: hidden;
}

.gen-header {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 0.75rem;
  background: #bcb8b3;
}

.gen-body {
  margin: 2rem 0 4rem;
  height: calc(100% - 80px);
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 1px;
  }
}

.gen-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0.75rem 0;
  background: #bcb8b3;
}

.form-control {
  display: flex;
  color: #181000;
  padding: 0.4rem 0;
  width: 100%;
  border-bottom: 1px solid #bcb8b3;
}

.form-control:last-child {
  border-bottom: none;
}

label {
  margin-left: 1rem;

  h5{
    line-height: 1;
    margin-bottom: 0.25rem;
  }
}

.desc {
  font-size: 0.75rem;
  line-height: 1.5;
}

.but-gen {
  position: relative;
  z-index: 2;
}

.but-gen::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #114904;
  border-radius: 0.5rem;
  z-index: -1;
  opacity: 0.3;
  animation: but-glow 1.5s ease-in infinite;
}

@keyframes but-glow {
  100% {
    transform: scale(1.1, 1.6);
    opacity: 0;
  }
}
