@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@1,400&family=Poppins:wght@400;600&display=swap");

:root {
  --font-1: "Poppins", sans-serif;
  --font-2: "IBM Plex Mono", monospace;
}

:host {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  background: #e9e7e6;
  font-family: var(--font-1);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #625a4f;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

code {
  font-family: var(--font-2);
  font-size: 0.9rem;
  background: #d2d0cd;
  padding: 2px 4px;
  border-radius: 4px;
  white-space: pre-wrap;
}

section {
  margin-bottom: 4rem;
}

.sect-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0 2rem;
  font-size: 0.875rem;
  text-align: left;
}

th{
  background: #d2d0cd;
  padding: 0.5rem 0.75rem;
}

td {
  border: 1px solid #d2d0cd;
  border-left: 0;
  border-right: 0;
  padding: 0.5rem 0.75rem;
}

thead{
  color: #352b1c;
}



.container {
  display: flex;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 960px;
  align-items: flex-start;
  flex-direction: column;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
}
