<div class="hero">
  <div class="container">
    <header>
      <img src="./../assets/BangaJS.png" alt="" height="70">

      <div class="hero-links">
        <a href="http://">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z"
              fill="rgba(17,73,4,1)" /></svg>

          <span>GitHub</span>
        </a>
        <a href="http://">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0H24V24H0z" />
            <path
              d="M20 3c.552 0 1 .448 1 1v16c0 .552-.448 1-1 1H4c-.552 0-1-.448-1-1V4c0-.552.448-1 1-1h16zm-3 4H7v10h5V9.5h2.5V17H17V7z"
              fill="rgba(17,73,4,1)" /></svg>

          <span>NPM</span>
        </a> |
        <a href="http://">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z"
              fill="rgba(17,73,4,1)" /></svg>

          <span>Author</span>
        </a>
      </div>
    </header>

    <br><br><br><br>


    <div class="hero-content">
      <div class="hero-left">
        <h1>Generate Production ready app in no time</h1>

        <br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, exercitationem? Similique quod ab
          commodi eligendi voluptatum dignissimos hic officiis excepturi.</p>
      </div>

      <div class="hero-right">
        <input type="hidden" #selection>

        <div class="card-container">
          <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
              <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

            <span>New Project</span>
          </div>

          <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
              <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

            <span>New Component</span>
          </div>

        </div>

        <!-- Terminal -->
        <div class="terminal" [ngSwitch]="selection.value">
          <pre *ngSwitchDefault>$ banga new project name</pre>
          <pre *ngSwitchCase="'material'">$ banga generate project name</pre>
        </div>
      </div>

    </div>
  </div>
</div>






<div class="container" role="main">
  <section>
    <h2>Usage</h2>
    <div>
      <p>Lorem ipsum dolor sit <code>Hello</code> amet consectetur adipisicing elit. Eos aperiam corrupti iusto
        recusandae ut voluptatibus
        quod nulla nisi officia enim fugiat deserunt, deleniti, consequatur perspiciatis tempora saepe sunt ipsa neque.
      </p>

      <div class="terminal">
        <span class="copy">
          Copied!
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M7 6V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7zM5.003 8L5 20h10V8H5.003zM9 6h8v10h2V4H9v2z"
              fill="#bcb8b3" /></svg>
        </span>
        <pre>$ npm install bangajs -g</pre>
      </div>
    </div>
  </section>

  <section>
    <h2>Commands</h2>
    <div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos aperiam corrupti iusto recusandae ut voluptatibus
        quod nulla nisi officia enim fugiat deserunt, deleniti, consequatur perspiciatis tempora saepe sunt ipsa neque.
      </p>
    </div>
  </section>


  <!-- Footer -->
  <footer>
    Made with 🍅 by <a href="http://ifedili.com" target="_blank" rel=""> Onyegbu Ifedili</a>
  </footer>


  <router-outlet></router-outlet>