.hero {
  background: #181000;
  color: #e9e7e6;
  padding: 80px 0;
  margin-bottom: 5rem;
  border-bottom: 0.5rem solid #f0a202;
}

.hero-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 6rem;
}

.hero-left {
  color: #e9e7e6;
  width: 100%;
  max-width: 600px;

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.3;
    width: 100%;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.7;
  }

  a {
    color: #e9e7e6;
    text-decoration: underline;
  }
}

.hero-links {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  font-size: 1rem;
  color: #625a4f;
}

.hero-links a {
  display: flex;
  align-items: center;
  background: rgba(233, 231, 230, 0.1);
  color: #f0a202;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
  margin-right: 0.75rem;
  padding: 0.35rem 0.75rem;

  &:last-child {
    margin-left: 0.75rem;
  }

  svg {
    margin-right: 0.25rem;
    fill: #f0a202;
  }
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notice {
  background: #fbe3b3;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  font-size: 0.875rem;

  h4 {
    color: #483101;
    margin-bottom: 0.5rem;
  }

  ul{
    margin-left: 1rem;
  }

  b {
    color: #906101;
  }
}

main {
  width: 100%;
  max-width: 600px;
}

.sub-section {
  padding: 1rem 0;
}

.sub-section > h3 {
  margin-bottom: 1rem;
}

.sub-section > h3::before {
  content: "$ banga";
  color: #a5a19a;
  font-family: var(--font-2);
  margin-right: 0.5rem;
}

aside {
  position: sticky;
  top: 1rem;
  width: 100%;
  max-width: 200px;
  margin-left: 3rem;

  h4 {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    line-height: 1.5;
  }

  .nest-list-1 {
    margin-left: 0.5rem;
  }

  a {
    color: #625a4f;
  }
}

@media screen and (max-width: 600px) {
  aside {
    display: none;
  }
}
