@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@1,400&family=Poppins:wght@400;600&display=swap");

:root {
  --font-1: "Poppins", sans-serif;
  --font-2: "IBM Plex Mono", monospace;
}

:host {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  //   outline: 0;
  box-sizing: border-box;
}

html {
  background: #e9e7e6;
  font-family: var(--font-1);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 960px;
  align-items: flex-start;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;
}

.card {
  border-radius: 25px;
  background: #352b1c;
  color: #f0a202;
  //   max-height: 50px;
  //   width: 200px;
  margin: 0 1rem 0 0;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.card svg {
  fill: #bcb8b3;
  margin-right: 0.25rem;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin: 1rem 0;
  overflow: hidden;
  background-color: #302000;
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  background: #625a4f;
  color: #bcb8b3;
  width: 100%;
  padding: 14px 0;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 0;
  text-indent: 8px;
}

.terminal pre {
  font-family: var(--font-2);
  color: #d2d0cd;
  padding: 0 1rem 1rem;
}

.terminal .copy {
  display: flex;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 0.5rem;
  color: #bcb8b3;
  font-size: 0.875rem;
  cursor: pointer;

  svg {
    margin-left: 0.25rem;
  }
}

code {
  font-family: var(--font-2);
  background: #d2d0cd;
  padding: 4px 6px;
  border-radius: 4px;
  white-space: pre-wrap;
}

footer {
  margin: 8px 0 12px;
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 20px;
  border-top: 1px solid #bcb8b3;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.hero {
  background: #181000;
  color: #e9e7e6;
  padding: 80px 0;
  margin-bottom: 5rem;
}

.hero-content {
  display: grid;
  grid-template-columns: 3fr 2.5fr;
  grid-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.hero-left{
     max-width: 100%;
}

.hero-right{
     height: 400px;
     width: 100%;
     max-width: 100%;
     background: rgba(188, 184, 179, 1);
     padding: 1rem;
     border-radius: 0.25rem;
     margin-bottom: -100px;
     box-shadow: 0px 2px 5px rgba(24, 16, 0, 0.1);

     .terminal{
          width: 100%;
          max-width: 600px;
          max-width: 100%;
     }
}

.hero img {
  display: block;
}

.hero h1 {
  font-size: 2.25rem;
  width: 100%;
}

.hero-links {
  display: flex;
}

.hero-links a {
  display: flex;
  align-items: center;
  background: #0f0a02;
  color: #114904;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
  margin-right: 1rem;
  padding: 0.35rem 0.5rem;

  svg {
    margin-right: 0.25rem;
  }
}

section {
  margin-bottom: 5rem;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

footer {
  padding: 2rem 0;

  a {
    color: #114904;
    margin-left: 4px;
    font-weight: 500;
  }
}
