@import url("./styles/global.scss");
@import url("./styles/form.scss");
@import url("./styles/button.scss");

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin: 8px 0 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 20px;
  font-size: 0.875rem;
  border-top: 1px solid #bcb8b3;
  padding: 2rem 0;

  div{
    margin: 0.5rem 0
  }

  a {
    color: #114904;
    margin-left: 4px;
    font-weight: 500;
  }
}
